<div class="container">
<h1 class="mt-5">New Hero <small>asd</small></h1>

<div fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutGap="20px">
  <div fxFlex="50"
       fxLayout="column">
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>Super Hero</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="hero.superhero"
               required
        />
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Alter Ego</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="hero.alter_ego"
               required
        />
      </mat-form-field>
    </div>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>First Appearance</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="hero.first_appearance"
               required
        />
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <mat-label>Persons</mat-label>
        <input matInput
               type="text"
               [(ngModel)]="hero.characters"
               required
        />
      </mat-form-field>
    </div>

    <mat-form-field fxFlex="100">
      <mat-label>Author</mat-label>
      <mat-select
        [(ngModel)]="hero.publisher"
      required
      >
        <mat-option
          *ngFor="let publicShe of publicSher"
          [value]="publicShe.id">
          {{publicShe.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <mat-label>Url Image</mat-label>
      <input matInput
             type="url"
             [(ngModel)]="hero.alt_img"
             required
      />
    </mat-form-field>
    <div
      fxLayout="row"
      fxLayoutGap="10px"
    >
    <button mat-raised-button
            (click)="saveForm()"
            click-stop-propagation
            color="primary">
      <mat-icon>edit</mat-icon>
      {{(hero.id)? 'Update' : 'Save'}}
    </button>
    <button mat-raised-button
            *ngIf="hero.id"
            click-stop-propagation
            (click)="eraseHero()"
            color="warn">
      <mat-icon>delete</mat-icon>
      Erase
    </button>
    </div>
  </div>
  <div fxFlex="50">
    <img [src]="hero | image" />
  </div>
</div>
</div>
