<mat-toolbar>
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <span class="space"></span>
  <span>{{auth.usuario}}</span>
  <button mat-icon-button
          (click)="logout()" i
  >
    <mat-icon mat-list-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
